name: Generate Screenshots ZIP

on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Collect screenshots
        run: |
          mkdir -p temp_screenshots
          find ports/released -type f \( -iname 'screenshot.png' -o -iname 'screenshot.jpg' -o -iname 'screenshot.jpeg' \) | while read file; do
            folder=$(basename $(dirname "$file"))
            cp "$file" "temp_screenshots/${folder}.${file##*/}"
          done

      - name: Create ZIP archive
        run: |
          cd temp_screenshots
          zip -r ../images.zip ./*
          cd ..

      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: screenshots-latest
          name: Screenshots
          prerelease: false
          generate_release_notes: false
          overwrite_files: true
          files: images.zip